div.btn-group {
    margin: 5rem;
    background-color: rgb(75, 73, 73);
    display: inline-block;
    padding: 11px 9px;
    border-radius: 40px;
    position: relative;
  }
  
  div.btn-group input {
    display: inline-block;
    border: none;
    outline: none;
    background: none;
    padding: 0 20px;
    color: whitesmoke;
  }
  
  div.btn-group button {
    background-image: linear-gradient(to right, blue, violet);
    display: inline-block;
    border: none;
    padding: 12px 15px;
    border-radius: 20px;
    position: absolute;
    top: 0.5px;
    right: 0.5px;
    color: bisque;
  }
  
  div.btn-group button:hover {
    background-image: linear-gradient(to left, rgb(38, 255, 0), indigo, violet);
    cursor: pointer;
  }
  